@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tektur:wght@600&display=swap');

.navbar {
    margin:1.5em 0 -1em 0;
    text-align: center;
    &__logo {
        width: 150px;
    }
    
    h1{
        font-size: 3rem;
        font-family: 'Tektur', cursive;
        color: #DB5461;
        letter-spacing: 8px;

        span {
            color: #686963;
            font-family: 'Dancing Script', cursive;
            font-size: 1rem;
            font-weight: 200;
            margin-left: -1.25em;
            letter-spacing: 0px;
        }
    }
}